h1 {
    font-family: Papyrus, fantasy;
    font-weight: bold;
    font-size: 45px;
    margin-top: 25px;
    width: 100%;
}

input {
    padding-left: 20px;
    width: 40vw;
    min-width: 400px;
}

button {
    width: 70px;
}

.header {
    padding: 20px;
    background-color: #91C499;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
}

.websitelogo {
    max-height: 80px;
}

.accountButtons {
    display: flex;
    margin-left: 10px;
}

.logoandname {
    display: flex;
    margin-right: 90px;
    border-width: 2px;
    border-style: solid;
    border-color:#91C499;
}

.logoandname:hover {
    cursor: pointer;
    border-color:#7c8f7f;
    
}

.tabButtons {
    min-width: 130px;
    width: 100%;
    line-height: 30px;
    display: block;
    background-color: #b0f1b9;
    border-style: none;
    font-weight: bold;
    text-align: center;
    color: black;
    
}

.tabButtons:hover {
    background-color: #91C499;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    background-color: #b0f1b9;
    overflow-y: none;
}

.searchBarAndButton {
    display: flex;
    margin-top: 25px;
    height: 50px;
}

.addressText {
    margin-top: 25px;
}