my-recently-procured-bar {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    align-self: flex-end;
    height: auto;
}

my-trending-sellers {
    flex-grow: 2;
}

.main {
    display: flex;
    
}

